#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    width: 80vw;
    flex-grow: 1;
}

#content {
    width: 100%;
    padding: 1rem;
}

.container-alert-box {
    width: 60vw;
    margin: 1rem auto;
}