.search-bar {
    margin-top: 1rem;
}

#search {
    border-radius: 0;
    border: 0;
    padding: .5rem 1rem;
    border: 1px solid var(--grey-color);
    color: var(--dark-color);
}

#search:focus {
    border: 1px solid var(--complementary);
}